<div [@routerTransition]>
  <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="table-responsive-sm">
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ 'UserName' | translate }}</th>
              <th scope="col">{{ 'Email' | translate }}</th>
              <th scope="col">{{ 'FullName' | translate }}</th>
              <th scope="col">{{ 'Operation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">1</th>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.fullname }}</td>
              <td>
                <button type="button" class="btn btn-link" placement="top" ngbTooltip="View Detail">
                  <i class="fa fa-eye"></i>
                </button>
                <button type="button" class="btn btn-link" placement="top" ngbTooltip="Delete">
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-xl-6 col-lg-6">
      <div class="float-left">
        <label>Show
          <select>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select> entries</label>
      </div>
    </div>
    <div class="col col-xl-6 col-lg-6">
      <div class="float-right">
        <ngb-pagination [collectionSize]="totalSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>