:host ::ng-deep .container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #f0f2f5;
}
:host ::ng-deep .wrap {
  padding: 32px 0;
  flex: 1;
}
:host ::ng-deep .ant-form-item {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  :host ::ng-deep .container {
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}
:host ::ng-deep .wrap {
  padding: 112px 0 24px;
}

}
:host ::ng-deep .top {
  text-align: center;
}
:host ::ng-deep .header {
  height: 44px;
  line-height: 44px;
}
:host ::ng-deep .header a {
  text-decoration: none;
}
:host ::ng-deep .logo {
  height: 44px;
  margin-right: 16px;
}
:host ::ng-deep .title {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
}
:host ::ng-deep .desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 12px;
  margin-bottom: 40px;
}

:host ::ng-deep .form {
  display: block;
  width: 368px;
  margin: 0 auto;
}
:host ::ng-deep .ant-tabs .ant-tabs-bar {
  border-bottom: 0;
  margin-bottom: 24px;
  text-align: center;
}
:host ::ng-deep .ant-tabs-tab {
  font-size: 16px;
  line-height: 24px;
}
:host ::ng-deep .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 34px;
}
:host ::ng-deep .icon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  margin-left: 16px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}
:host ::ng-deep .icon:hover {
  color: #1890ff;
}
:host ::ng-deep .text-right {
  text-align: right!important;
}
:host ::ng-deep .other {
  text-align: left;
  margin-top: 24px;
  line-height: 22px;
}
:host ::ng-deep .other nz-tooltip {
  vertical-align: middle;
}
:host ::ng-deep .other .register {
  float: right;
}
