<form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>menu code</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <input nz-input formControlName="menuCode" placeholder="please input menu code">
        <nz-form-explain *ngIf="validateForm.get('menuCode').dirty && validateForm.get('menuCode').errors || validateForm.get('menuCode').pending ">
          <ng-container *ngIf="validateForm.get('menuCode').hasError('required')">
            Please input your menu code!
          </ng-container>
          <ng-container *ngIf="validateForm.get('menuCode').hasError('duplicated')">
            The menu code is redundant!
          </ng-container>
          <ng-container *ngIf="validateForm.get('menuCode').pending">
            Validating...
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>menu name</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <input nz-input formControlName="menuName" placeholder="please input menu name">
        <nz-form-explain *ngIf="validateForm.get('menuName').dirty&&validateForm.get('menuName').errors">
          <ng-container *ngIf="validateForm.get('menuName').hasError('required')">
            Please input your menu name!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>URL</nz-form-label>
      <div>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <input nz-input formControlName="url">
          <nz-form-explain *ngIf="validateForm.get('url').dirty&&validateForm.get('url').hasError('required')">
            Please input your url!
          </nz-form-explain>
        </nz-form-control>
      </div>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>icon</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <input nz-input formControlName="icon">
        <nz-form-explain *ngIf="validateForm.get('icon').dirty&&validateForm.get('icon').errors">
          <ng-container *ngIf="validateForm.get('icon').hasError('required')">
            Please confirm your icon!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>