:host .navbar {
  background-color: #222;
}
:host .navbar .navbar-brand {
  color: #fff;
}
:host .navbar .nav-item > a {
  color: #999;
}
:host .navbar .nav-item > a:hover {
  color: #fff;
}
:host .messages {
  width: 300px;
}
:host .messages .media {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}
:host .messages .media:last-child {
  border-bottom: none;
}
:host .messages .media-body h5 {
  font-size: 13px;
  font-weight: 600;
}
:host .messages .media-body .small {
  margin: 0;
}
:host .messages .media-body .last {
  font-size: 12px;
  margin: 0;
}
