<div [@routerTransition]>
    <div class="search-result-list">
      <nz-table #nzTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)" (nzPageIndexChange)="refreshStatus()"
        (nzPageSizeChange)="refreshStatus()">
        <thead>
          <tr>
            <th nzWidth="20%">模块名称</th>
            <th nzWidth="20%">模块编码</th>
            <th nzWidth="30%">模块描述</th>
            <th>版本</th>
            <th>{{'sys.status' | mpI18n}}</th>
            <th>{{'base.action' | mpI18n}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
              <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
                <td [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
                  {{item.name}}
                </td>
                <td>{{item.age}}</td>
                <td>{{item.address}}</td>
                <td>
                  <a href="#">{{'base.edit' | mpI18n}}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a href="#">{{'base.delete' | mpI18n}}</a>
                </td>
              </tr>
            </ng-template>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>